<mat-sidenav-container class="sidenav-container" #sidenavContainer>
  <mat-sidenav class="sidebar-left" opened mode="side" position="start">
    <app-primary-page></app-primary-page>
    <app-secondary-page></app-secondary-page>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-map [ritghtMenus]="ritghtMenus" [sidenavContainer]="sidenavContainer"></app-map>
  </mat-sidenav-content>

  <mat-sidenav class="sidebar-right" closed mode="side" position="end">
    <div class="sidebar-right-title" *ngIf="getRightMenuActive()">
      {{ "right_menu." + getRightMenuActive()?.title + ".title" | translate }}
    </div>
    <div class="sidebar-right-title-fake"></div>
    <div class="sidebar-right-content">
      <app-active-layers [map]="map" [hidden]="!getRightMenu('toc')?.active"></app-active-layers>
      <app-map-tools [map]="map" [hidden]="!getRightMenu('edition')?.active"></app-map-tools>
      <app-legend [map]="map" [hidden]="!getRightMenu('legend')?.active"></app-legend>
      <app-routing [map]="map" [hidden]="!getRightMenu('routing')?.active"></app-routing>
      <app-download [hidden]="!getRightMenu('download')?.active"></app-download>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
