<div class="user-box break-words">
<div class="cover-image">
</div>
<a href="/in/boris-gautier-tchoukouaha-420262143/" id="ember145" class="ember-view block">
  <div style="text-align: center;">
    <img width="64" src="https://media-exp2.licdn.com/dms/image/C4D03AQGkW5vvuH4KYQ/profile-displayphoto-shrink_100_100/0/1605181488764?e=1660780800&v=beta&t=9H6ftlAqlgiiasEeN9Lqlm4Oie8vNStVnLTabMjIU1E" alt="" loading="lazy" height="64" alt="Photo de profil" id="ember146" class="profile-image entityPhoto lazy-image ember-view">
  </div>
  <div class="t-16 t-black t-bold">
    Boris Gautier TCHOUKOUAHA
  </div>
</a>
<p class="t-12 t-black--light t-normal mt1">
  Software Development Engineer - Full Stack
</p>
</div>
