<ng-content *ngIf="(isLoading$ | async)=== false; else spinner"></ng-content>
<ng-template #spinner>
  <app-loading class="loading-apps"></app-loading>
</ng-template>
<div id="map" class="map">
  <div id="scale-map"></div>
  <div id="mouse-position-map"></div>

   <div id="setCoordOverlay" style="display:none">
        <button mat-mini-fab color="primary" (click)="close_setCoordOverlay()" matTooltip="{{ 'remove' | translate }}">
          <fa-icon [icon]="faTimes" style="color:#fff;display:none"></fa-icon>
        </button>
  </div>

  <div class="map-buttons">
    <div class="left-buttons-1">
      <div>
        <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.left_button.toogle_left_menu' | translate }}" (click)="toogleLeftSidenav()">
          <fa-icon *ngIf="!this.sidenavContainer?.start?.opened" [icon]="faAngleDoubleRight" class="primary-bg"></fa-icon>
          <fa-icon *ngIf="this.sidenavContainer?.start?.opened" [icon]="faAngleDouble" class="primary-bg"></fa-icon>
        </button>
      </div>
      <div>
        <button mat-mini-fab class="white-bg" (click)="zoom_in()" style="margin-top: 30px" matTooltip="{{ 'map_buttons.left_button.zoom_in' | translate }}">
          <fa-icon [icon]="faPlus" class="primary-bg"></fa-icon>
        </button>
      </div>

      <div>
        <button mat-mini-fab id="zoom-minus" class="white-bg" (click)="zoom_out()" matTooltip="{{ 'map_buttons.left_button.zoom_out' | translate }}">
          <fa-icon [icon]="faMinus" class="primary-bg"></fa-icon>
        </button>
      </div>

      <div>
        <button mat-mini-fab class="white-bg" (click)="global_view()" matTooltip="{{ 'map_buttons.left_button.global_view' | translate }}">
          <fa-icon [icon]="faGlobe" class="primary-bg"></fa-icon>
        </button>
      </div>

      <div>
        <button mat-mini-fab class="white-bg" (click)="zoomTo()" matTooltip="{{ 'map_buttons.left_button.zoom_to_coordinates' | translate }}">
          <fa-icon [icon]="faMarker" class="primary-bg"></fa-icon>
        </button>
      </div>

    </div>

    <div class="left-buttons-2">
      <div *ngIf="isMapillary">
        <button class="white-bg" mat-mini-fab matTooltip="{{ 'map_buttons.left_button.mapillary_view' | translate }}">
          <img src="assets/images/png/mappilary.png" style="margin-top: -5px; height: 30px" alt="" />
        </button>
      </div>

      <div *ngIf="isComparator">
        <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.left_button.comparator' | translate }}">
          <img src="assets/images/svg/compare.svg" style="margin-bottom: 2px; height: 23px" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="right-buttons">
    <div>
      <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.right_button.active_layers' | translate }}">
        <fa-icon [icon]="faMapLayers" class="primary-bg"></fa-icon>
      </button>
    </div>

    <div>
      <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.right_button.edit_tools' | translate }}">
        <fa-icon [icon]="faEdit" class="primary-bg"></fa-icon>
      </button>
    </div>

    <div *ngIf="isRouting">
      <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.right_button.routing' | translate }}">
        <fa-icon [icon]="faRouting" class="primary-bg"></fa-icon>
      </button>
    </div>

    <div>
      <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.right_button.legend' | translate }}">
        <fa-icon [icon]="faLegend" class="primary-bg"></fa-icon>
      </button>
    </div>

    <div *ngIf="isDownload">
      <button mat-mini-fab class="white-bg" matTooltip="{{ 'map_buttons.right_button.download' | translate }}">
        <fa-icon [icon]="faDownload" class="primary-bg"></fa-icon>
      </button>
    </div>
  </div>
</div>
