<ng-content *ngIf="(isLoading$ | async)=== false; else spinner"></ng-content>
<ng-template #spinner>
  <app-loading class="loading-apps"></app-loading>
</ng-template>
<div id="map" class="map">
  <div id="scale-map"></div>
  <div id="mouse-position-map"></div>

  <div id="setCoordOverlay" style="display: none">
    <button mat-mini-fab color="primary" (click)="close_setCoordOverlay()" matTooltip="{{ 'remove' | translate }}">
      <fa-icon [icon]="faTimes" style="color: #fff; display: none"></fa-icon>
    </button>
  </div>

  <div class="map-buttons">
    <div class="left-buttons-1">
      <div>
        <img
          src="/assets/images/svg/toogle.svg"
          class="toogle"
          matTooltip="{{ 'map_buttons.left_button.toogle_left_menu' | translate }}"
          (click)="toogleLeftSidenav()"
          alt=""
        />
      </div>
      <div>
        <button
          mat-mini-fab
          class="white"
          (click)="zoom_in()"
          style="margin-top: 30px"
          matTooltip="{{ 'map_buttons.left_button.zoom_in' | translate }}"
        >
          <fa-icon [icon]="faPlus" class="primary_bg"></fa-icon>
        </button>
      </div>

      <div>
        <button
          mat-mini-fab
          id="zoom-minus"
          class="white"
          (click)="zoom_out()"
          matTooltip="{{ 'map_buttons.left_button.zoom_out' | translate }}"
        >
          <fa-icon [icon]="faMinus" class="primary_bg"></fa-icon>
        </button>
      </div>

      <div>
        <button mat-mini-fab class="white" (click)="global_view()" matTooltip="{{ 'map_buttons.left_button.global_view' | translate }}">
          <fa-icon [icon]="faGlobe" class="primary_bg"></fa-icon>
        </button>
      </div>

      <div>
        <button mat-mini-fab class="white" (click)="zoomTo()" matTooltip="{{ 'map_buttons.left_button.zoom_to_coordinates' | translate }}">
          <fa-icon [icon]="faMarker" class="primary_bg"></fa-icon>
        </button>
      </div>
    </div>

    <div class="left-buttons-2">
      <div *ngIf="isMapillary">
        <button class="white" mat-mini-fab matTooltip="{{ 'map_buttons.left_button.mapillary_view' | translate }}">
          <img src="assets/images/png/mappilary.png" style="margin-top: -5px; height: 30px" alt="" />
        </button>
      </div>

      <div *ngIf="isComparator">
        <button
          mat-mini-fab
          class="white"
          matTooltip="{{ 'map_buttons.left_button.comparator' | translate }}"
          (click)="toogleCompare()"
          [ngClass]="{'accentColorBG':modeCompare}"
        >
          <img src="assets/images/svg/compare.svg" style="margin-bottom: 2px; height: 23px" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="right-buttons">
    <div>
      <button
        [matBadge]="countLayersInToc()"
        matBadgePosition="before"
        matBadgeColor="accent"
        (click)="openRightMenu(ritghtMenus![0].name)"
        mat-mini-fab
        [ngClass]="{
            primary_bg: ritghtMenus![0].active,
            white: !ritghtMenus![0].active
          }"
        matTooltip="{{ 'map_buttons.right_button.active_layers' | translate }}"
      >
        <fa-icon
          [icon]="faMapLayers"
          [ngClass]="{
            primary_bg: !ritghtMenus![0].active,
            white_bg: ritghtMenus![0].active
          }"
        ></fa-icon>
      </button>
    </div>

    <div>
      <button
        (click)="openRightMenu(ritghtMenus![1].name)"
        mat-mini-fab
        [ngClass]="{
            primary_bg: ritghtMenus![1].active,
            white: !ritghtMenus![1].active
          }"
        matTooltip="{{ 'map_buttons.right_button.edit_tools' | translate }}"
      >
        <fa-icon
          [icon]="faEdit"
          [ngClass]="{
            primary_bg: !ritghtMenus![1].active,
            white_bg: ritghtMenus![1].active
          }"
        ></fa-icon>
      </button>
    </div>

    <div *ngIf="isRouting">
      <button
        (click)="openRightMenu(ritghtMenus![3].name)"
        mat-mini-fab
        [ngClass]="{
            primary_bg: ritghtMenus![3].active,
            white: !ritghtMenus![3].active
          }"
        matTooltip="{{ 'map_buttons.right_button.routing' | translate }}"
      >
        <fa-icon
          [icon]="faRouting"
          [ngClass]="{
            primary_bg: !ritghtMenus![3].active,
            white_bg: ritghtMenus![3].active
          }"
        ></fa-icon>
      </button>
    </div>

    <div>
      <button
        (click)="openRightMenu(ritghtMenus![2].name)"
        mat-mini-fab
        [ngClass]="{
            primary_bg: ritghtMenus![2].active,
            white: !ritghtMenus![2].active
          }"
        matTooltip="{{ 'map_buttons.right_button.legend' | translate }}"
      >
        <fa-icon
          [icon]="faLegend"
          [ngClass]="{
            primary_bg: !ritghtMenus![2].active,
            white_bg: ritghtMenus![2].active
          }"
        ></fa-icon>
      </button>
    </div>

    <div *ngIf="isDownload">
      <button
        (click)="openRightMenu(ritghtMenus![4].name)"
        mat-mini-fab
        [ngClass]="{
            primary_bg: ritghtMenus![4].active,
            white: !ritghtMenus![4].active
          }"
        matTooltip="{{ 'map_buttons.right_button.download' | translate }}"
      >
        <fa-icon
          [icon]="faDownload"
          [ngClass]="{
            primary_bg: !ritghtMenus![4].active,
            white_bg: ritghtMenus![4].active
          }"
        ></fa-icon>
      </button>
    </div>
  </div>

  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>

  <input
    id="swipe"
    type="range"
    style="background: transparent; width: 100%; z-index: 9999999999999999999999; position: absolute; top: 45%; display: none"
  />
</div>
