<div class="text-center">
  <mat-chip-list *ngIf="name" style="display: inline-table">
    <mat-chip style="height: auto !important" class="black grayBG bold"> {{name}} </mat-chip>
  </mat-chip-list>
</div>







<ng-container *ngIf="listAttributes && listAttributes.length > 0" >
  <div class="descriptive-sheet-body-header-btn" style="margin-top: 20px"   *ngIf="(descriptiveModel!.properties.COORD_X != null
    || descriptiveModel!.properties.X_COORD != null)">


<ng-container *ngFor="let attribute of listAttributes;let i = index">
  <ng-container *ngIf="i <= initialNumberOfAttributes">
    <div
      fxLayout="row"
      class="descriptive-sheet-body"
      style="margin-top: 5px"
      *ngIf="!configTagsOsm![attribute.field] || configTagsOsm![attribute.field].display"
    >
      <div fxFlex="38%" class="attribute">
        {{ attribute.field| translate }}
      </div>

        <div fxFlex class="attribute-value" *ngIf="!configTagsOsm![attribute.field] || configTagsOsm![attribute.field].display">
          <div *ngIf="!configTagsOsm![attribute.field]" [innerHTML]="attribute.value"></div>
        </div>

    </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="listAttributes.length > 5">
      <a
        class="descriptive-sheet-body-display-attributes-number pointer"
        (click)="initialNumberOfAttributes = listAttributes.length+1"
        *ngIf="initialNumberOfAttributes < listAttributes.length"
      >
        {{'descriptive_sheet.displayAllAttributes' | translate}}
      </a>
      <a
        class="descriptive-sheet-body-display-attributes-number pointer"
        (click)="initialNumberOfAttributes = 3"
        *ngIf="initialNumberOfAttributes >= listAttributes.length"
      >
        {{'descriptive_sheet.displayLesAttributes' | translate}}
      </a>
    </ng-container>



  </div>
<div style="margin-top: 10px" >
  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.agent">
    <div fxFlex="35%" class="attribute">Agent :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.agent}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.postesource">
    <div fxFlex="35%" class="attribute">Poste source :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.postesource}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.region">
    <div fxFlex="35%" class="attribute">Région :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.region}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.depart">
    <div fxFlex="35%" class="attribute">Départ :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.depart}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties._submitted_by">
    <div fxFlex="35%" class="attribute">Entreprise :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties._submitted_by}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typededanger">
    <div fxFlex="35%" class="attribute">Type de Danger :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typededanger}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatdudanger">
    <div fxFlex="35%" class="attribute">Etat du danger :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatdudanger}}</div>
  </div>


  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.nomdelalocalite">
    <div fxFlex="35%" class="attribute">Nom de la localité :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.nomdelalocalite}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typeappareillage">
    <div fxFlex="35%" class="attribute">Type d'appareillage :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typeappareillage}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typedesupport">
    <div fxFlex="35%" class="attribute">Type de support :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typedesupport}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typedestructure">
    <div fxFlex="35%" class="attribute">Type de structure :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typedestructure}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatdusupport">
    <div fxFlex="35%" class="attribute">Etat du support :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatdusupport}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatdumalt">
    <div fxFlex="35%" class="attribute">Etat du malt :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatdumalt}}</div>
  </div>


  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typedeposte">
    <div fxFlex="35%" class="attribute">Type de poste :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typedeposte}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.securise">
    <div fxFlex="35%" class="attribute">Poste sécurisé? :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.securise}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatduposte">
    <div fxFlex="35%" class="attribute">Etat du poste :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatduposte}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.encombrement">
    <div fxFlex="35%" class="attribute">Poste encombré? :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.encombrement}}</div>
  </div>



  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.topographie">
    <div fxFlex="35%" class="attribute">Topographie :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.topographie}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.reponse">
    <div fxFlex="35%" class="attribute">Réponse :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.reponse}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.typedeplantation">
    <div fxFlex="35%" class="attribute">Type de plantation :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.typedeplantation}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.position">
    <div fxFlex="35%" class="attribute">Position :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.position}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.commentaire">
    <div fxFlex="35%" class="attribute">Commentaire :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.commentaire}}</div>
  </div>


  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatduconducteur">
    <div fxFlex="35%" class="attribute">Etat du conducteur :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatduconducteur}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatdelaligneetsoncorridor">
    <div fxFlex="35%" class="attribute">Etat de la ligne et son corridor :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatdelaligneetsoncorridor}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.etatdelaligne">
    <div fxFlex="35%" class="attribute">Etat de la ligne :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.etatdelaligne}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.suspensiondelaligne">
    <div fxFlex="35%" class="attribute">Suspension de la ligne :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.suspensiondelaligne}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.isolateurs">
    <div fxFlex="35%" class="attribute">Isolateurs :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.isolateurs}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.nappevoute">
    <div fxFlex="35%" class="attribute">Nappe-Voûte :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.nappevoute}}</div>
  </div>

  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.traverse">
    <div  class="attribute">Traverse :</div>
    <div fxFlex class="attribute-value">{{descriptiveModel!.properties.traverse}}</div>
  </div>



  <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px" *ngIf="descriptiveModel!.properties.photo_url">
    <div fxFlex="35%" class="attribute">Photo :</div>
    <div fxFlex class="attribute-value">

      <a [href]="descriptiveModel!.properties.photo_url" target=_blank>

        <img [src]="descriptiveModel!.properties.photo_url" alt="" style="width: 100%;height: 250px;" class="">

        </a>




    </div>
  </div>
</div>








</ng-container>
