<div class="text-center">
  <mat-chip-list *ngIf="name" style="display: inline-table">
    <mat-chip style="height: auto !important" class="black grayBG bold"> {{name}} </mat-chip>
  </mat-chip-list>
</div>

<ng-container>
  <div style="margin-top: 10px">
    <div fxLayout class="descriptive-sheet-body" style="margin-bottom: 5px">
      <div style="margin-bottom: 20px" *ngFor="let k of key">
        <div *ngIf="descriptiveModel!.properties[k]">
          <div fxFlex="35%" class="attribute">{{k}}:</div>

          <div fxFlex class="attribute-value">{{descriptiveModel!.properties[k]}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
