.descriptive-sheet-body {
  font-family: 'Avenir Next Rounded Pro Regular';
  font-size: 15px;

  .attribute {
    font-family: 'Avenir Next Rounded Pro Medium';
    font-weight: bold;
    text-align: left;
    padding-left: 60px;
    position: absolute;
    text-overflow: ellipsis;
    overflow-x: hidden;
    word-break: break-all;
    .attribute-two-points {
      position: absolute;
      top: calc(50% - 10px);
      margin-left: 5px;
    }
  }

  .attribute-value {
    position: relative;
    padding-left: 190px;
    margin-left: 100px;
  }
}

.descriptive-sheet-body-url {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}

.descriptive-sheet-body-url:hover {
  text-decoration: underline;
}

.descriptive-sheet-body-display-attributes-number {
  font-size: 14px;
  color: inherit;
  font-family: 'Avenir Next Rounded Pro Italic';
  text-decoration: underline;
}

.descriptive-sheet-body-header-btn {
  margin-bottom: 10px;

  button {
    margin-right: 5px;
    margin-left: 5px;
    // height: 50px;
    // width: 50px;
    border: 2px solid #06aca7;
    background-color: transparent;
    box-shadow: none;
  }

  .descriptive-sheet-body-header-btn-osm {
    background-color: #06aca7 !important;
  }
}

.descriptive-sheet-body-header-btn::-webkit-scrollbar {
  width: 0 !important;
}
