.sidenav-left-second-header-ghost {
  height: 55px;
}

.sidenav-left-second-header {
  height: 55px;
  padding-top: 15px;
  position: fixed;
  top: 80px;
  left: 0px;
  z-index: 9;
  width: 370px;

  .fa-angle-left {
    margin-top: -10px;
    font-size: 25px;
    padding: 12px;
  }

  .sidenav-left-second-header-img {
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
    max-width: 40px !important;
    min-width: 25px;
    margin-top: -9px;
  }

  .sidenav-left-second-header-title {
    text-align: left;
    padding: 0px;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    font-size: 17px;
    padding-top: 2px;
  }
}

app-list-couches {
  padding: 5px;
  padding-top: 20px;
  display: block;
  overflow-y: auto;
  height: calc(100% - 80px);
  position: fixed;
  margin-top: 30px;
}
