.couche-thematique {
  ::ng-deep .mat-expansion-panel-body {
    padding: 10px 5px 16px !important;
    padding-top: 0px !important;
    margin-top: -12px;
  }
  .sous_thematique_name{
    margin-top: 10px;
    margin-bottom: -5px;
    font-size: 16px;
    font-weight: 500;
  }

  .couche-thematique-panel {
    margin-bottom: 20px;
  }

  mat-panel-title {
    color: #fff !important;
    font-size: 16px;
  }

  ::ng-deep .mat-expansion-indicator::after {
    color: #fff !important;
  }

}
