<div
  [ngClass]="{ primaryColorBG: !thematique!.color }"
  style="
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-top: 1px solid grey;
    border-radius: 5px;
    margin-right: 20px;
  "
>
  <div style="display: flex">
    <div
      style="width: 40px; height: 40px"
      class="border_red menu-thematiques-child text-center"
      [ngClass]="{ primaryColorBG: !thematique!.color }"
    >
      <img
        *ngIf="thematique!.nom != 'Données SIG cuy'"
        src="{{ url_prefix + thematique!.image_src }}"
        class=""
        alt=""
        style="max-width: 100%; height: auto"
      />
      <img
        *ngIf="thematique!.nom == 'Données SIG cuy'"
        src="{{ url_prefix + thematique!.image_src }}"
        class=""
        alt=""
        style="max-width: 100%; height: auto; border-radius: 49.9%"
      />
    </div>

    <div class="ml-3" style="display: flex; flex-direction: column; margin-left: 10px">
      <mat-list-item>
        <h3 class="black" style="margin: unset; font-weight: bold">{{ thematique!.nom }}</h3>
      </mat-list-item>
      <p>
        <span *ngIf="thematique!.sous_thematiques[0]!.couches!.length > 1"
          >{{ thematique!.sous_thematiques[0].couches!.length}} couches</span
        >
        <span *ngIf="thematique!.sous_thematiques[0]!.couches!.length === 1"
          >{{ thematique!.sous_thematiques[0].couches!.length }} couche</span
        >
      </p>
      <!-- <span >
            10 couches
        </span>
        -->
    </div>
  </div>
</div>

<!--
<div class="border_red menu-thematiques-child text-center" [ngClass]="{ primaryColorBG: !thematique!.color }"
  [ngStyle]="{ 'background-color': thematique!.color }" [matTooltip]="thematique!.nom">


  <img src="{{ url_prefix + thematique!.image_src }}" class="img-responsive menu-thematiques-child-logo" alt="" />
</div>
<div class="text-center menu-thematiques-child-title">
  <mat-list-item>
    <p class="black">
      {{ thematique!.nom }}
    </p>
  </mat-list-item>
</div>
-->
