<div style="overflow-y: scroll; height: 100vh; top: 0px; background-color: white; position: fixed;top:80px;width: 370px; z-index: 20;">
  <div class="parent " class="w-full">
    <!-- <img class="img-fluid " src="assets/resto.jpg" style="width: 101%; height: 130px;" alt="photo entreprise"/>
   -->

     <a href="https://www.journaldugeek.com/content/uploads/2020/02/eau-puits-jardin-640x427.jpg" target=_blank>

     <img src="{{'data.properties.photo_url '}}" alt="" style="width: 100%;height: 250px;" class="">

     </a>

    <button style=" display: flex;
    justify-content: center;
    align-items: center; z-index:20;color: white;
        " class="closeb" (click)="closeFiche()">
      <img class="img-fluid clear-logo" src="assets/images/svg/icon-clear.svg" alt="fermer" />

    </button>
  </div>



</div>
