<div class="navbar" fxLayout="row">

  <app-searchbar-layout class="searchbar"></app-searchbar-layout>

  <div fxLayout="row" [ngClass]="{menu: sidebarVisible}" *ngIf="sidebarVisible || !sidebarVisible" class="text-center" style="">
    <div fxLayout="row" class="entete">
      <div class="clear">
        <img src="/assets/images/svg/icon-clear.svg" alt="" style="width: 24px" (click)="closeSidebar()" />
      </div>
    </div>
    <ng-template [ngTemplateOutlet]="MsgRef" style="background-color: red"></ng-template>
  </div>
</div>

<ng-template #MsgRef>

  <div >
    <h3>Observatoire National de l'Habitat-ONH</h3>
    <div class="page-title" >
      <div>
        <img src="../../../assets/images/png/logo_bm.png" alt="logo Banque mondiale">
      </div>
      <div>
        <img src="../../../assets/images/png/logo_PDVIR.png" alt="logo PDVIR">
      </div>
    </div>
  </div>

</ng-template>