<div class="navbar" fxLayout="row">
  <img class="icon-menu-mobile" src="assets/images/svg/icon-menu.svg" alt="" (click)=" openSidebar()" />

  <app-searchbar-layout class="searchbar"></app-searchbar-layout>

  <div fxLayout="row" [ngClass]="{menu: sidebarVisible}" *ngIf="sidebarVisible || !sidebarVisible" class="text-center">
    <div fxLayout="row" class="entete">
      <div class="clear">
        <img src="/assets/images/svg/icon-clear.svg" alt="" style="width: 24px" (click)="closeSidebar()" />
      </div>

    </div>
    <ng-template [ngTemplateOutlet]="MsgRef" style="background-color: red"></ng-template>
  </div>
</div>

<ng-template #MsgRef>
  <mat-divider style="margin-left: 20px" [vertical]="true"></mat-divider>

  <div style="display:flex;flex-direction:row;margin-left: 30px;">

    <div class="menu-list text-center" *ngFor="let menu of menuItems" fxLayout="column">
      <a >
        <img [src]="menu.image" [alt]="menu.label" style="float: left" class="image" />
        <div class="text-center text" style="float: right; line-height: 3">{{ "navbar." + menu.label | translate }}</div>
      </a>
    </div>
</div>
  <a href="" class="logo">
    <img src="/assets/images/jpg/eneo.jpg" style="height: 40px; width: 90px;position: absolute;
    top: 10px; right: 50px; margin-right:40px" alt="" />
  </a>
</ng-template>
