<div class="navbar" fxLayout="row" style="position:fixed; width:100vw">
  <img class="icon-menu-mobile" src="assets/images/svg/icon-menu.svg" alt="" (click)=" openSidebar()" />

  <app-searchbar-layout class="searchbar"></app-searchbar-layout>

  <div fxLayout="row" [ngClass]="{menu: sidebarVisible}" *ngIf="sidebarVisible || !sidebarVisible" class="text-center">
    <div fxLayout="row" class="entete">
      <div class="clear">
        <img src="/assets/images/svg/icon-clear.svg" alt="" style="width: 24px" (click)="closeSidebar()" />
      </div>

    </div>
    <ng-template [ngTemplateOutlet]="MsgRef" ></ng-template>
  </div>
</div>

<ng-template #MsgRef>
  <mat-divider style="margin-left: 20px" [vertical]="true"></mat-divider>

  <div fxLayout="row" style="margin-left:30px" class="menu_container">
    <div class="menu-list " *ngFor="let menu of menuItems" fxLayout="column">
      <a [routerLink]="menu.link">
        <img [src]="menu.image" [alt]="menu.label" style="float: left" class="image" />
        <div class=" text" style="float: right; line-height: 3">{{ "navbar." + menu.label | translate }}</div>
      </a>
    </div>

  </div>




</ng-template>
