@import '../../../theme.scss';
.page-title{
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  div{
    &:nth-child(1){
      height:50px;
    }
    &:nth-child(2){
      height:60px;
    }
  }
  img{
    height: 100%;
  }
}
.navbar {
  background-color: #fff;
  padding: 0;
  position: relative;
  z-index: 1030;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.menu-list {
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.menu-list a {
  float: left;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  height: 80px;
}

.menu-list a:hover {
  background-color: #1d917d;
}

.active {
  background-color: #04aa6d;
}

.searchbar {
  margin-left: 20px;
  margin-top: 5px;
}

.icon-menu-mobile {
  display: none;
  margin-left: 10px;
}

.clear {
  visibility: hidden;
}

.logo {
  margin-top: 15px;
}

@media (max-width: 728px) {
  .entete {
    display: flex !important;
    flex-direction: column !important;
    background-color: white !important;
  }
.menu-list{
  flex-direction: row !important;
}
.menu-container{
  flex-direction: column !important;
  margin-left: unset !important;
}
  .menu {
    background-color: #1d917d !important;
    position: absolute;
    float: unset !important;
    display: flex !important;
    flex-direction: column !important;
    width: 250px;
    height: 100vh;
  }

  .menu-list a:hover {
    background-color: unset;
  }

  .menu-list {
    background-color: #1d917d !important;
  }

  .menu-list a {
    width: 150px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    padding: 15px 25px;
    height: 40px;
  }

  .logo {
    margin-bottom: 40px;
    position: relative !important;
    left: 15% !important;
  }

  .icon-menu-mobile {
    display: block;
    cursor: pointer;
  }

  .clear {
    cursor: pointer;
    visibility: visible;
    padding-left: 216px;
    margin-top: 10px;
  }

  .navbar {
    border: none;
    background-color: unset;
    height: 40px;
    padding: unset;
    margin: unset;
  }

  .searchbar {
    margin: unset;
  }
}
