/* You can add global styles to this file, and also import other style files */

@import './openlayers.scss';
@import './assets/font/avenir-next-rounded-pro-cufonfonts-webfont/style.scss';
@import './theme.scss';

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
