/* You can add global styles to this file, and also import other style files */

@import './openlayers.scss';
@import './assets/font/avenir-next-rounded-pro-cufonfonts-webfont/style.scss';
@import './theme.scss';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';

html,
body {
  height: 100%;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 5px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
  overflow-x: hidden;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
   // border: 3px solid orange;  /* creates padding around scroll thumb */
  }
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold !important;
}

.shadow_5px {
  box-shadow: inset 0 0 1px #ccc, 0 0 2px #434343;
}

::ng-deep .mat-dialog-container {
  padding: 0px !important;
}


.mat-primary .mat-slider-thumb-label-text {
  color: #fff !important;
}

input {
  background: transparent !important;
}
