
<form class="flex flex-row p-4 w-screen rounded-none md:w-80  md:rounded-lg shadow-lg md:border-solid md:border-1 md:border-gray-900  relative ">
  <img class="flex flex-col icon-menu mr-2 max-w-min " src="assets/images/svg/icon-menu.svg"  alt="" />

  <input type="text" name="name"  autocomplete="off" class="flex flex-col w-full h-full  border-0 focus:outline-none mt-1 focus:border-0  placeholder-primary focus:ring-transparent text-sm italic ng-pristine ng-valid ng-touched flex flex-col" placeholder="Effectuez votre recherche!">
  <div class="flex flex-row ml-1">
    <img class="icon-menu flex flex-col max-w-min " src="assets/images/svg/icon-clear.svg"  alt=""/>
    <img class="icon-menu flex flex-col max-w-min" src="assets/images/svg/icon-perm_identity.svg"  alt="" />
  </div>
</form>
